:root {
  --br: 13px;
  --background: white;
  --drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.gentle-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1ch;
}

.container {
  width: 100vw;
  height: 100vh;
}

button {
  border-radius: var(--br);
  border: none;
  padding: 20px;
  font-size: 5vw;
  background-color: var(--background);
  filter: var(--drop-shadow);
}

.onlyText {
  font-size: 2.5vw;
}

.type-toggle {
  color: darkgray;
  background-color: #efefef;
  font-size: 24px;
}

.type-toggle > .feather {
  display: block;
  margin: 0 auto;
}

.left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.type-toggle.active {
  background-color: var(--background);
  color: black;
}

h1 {
  font-size: 2vw;
}

.microphone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.microphone > * {
  margin: 20px;
}

.percentCount {
  border-radius: var(--br);
  border: none;
  padding: 5px 20px;
  background-color: var(--background);
  filter: var(--drop-shadow);
  height: min-content;
  text-align: left;
  margin-right: -40px;
  margin-left: 20px;
}

.microphone-info {
  display: flex;
  align-content: flex-start;
}

.submit {
  background: #6ce77f;
  font-size: 2vw;
  font-weight: 300;
  width: 10vw;
  padding: 5px 10px;
  transition: all 0.2s ease-in;
}

.submit:hover {
  border: 2px solid black;
  font-weight: 600;
}

.type-q {
  color: darkgreen;
}

.category {
  color: darkorange;
}
